.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

@keyframes mouse {
    0% {
        top: 20%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}
